* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.section-1 {
    background-color: #27254C;
    color: white;
    padding: 10px 150px;
}

.logo {
    width: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: #b8ba70;
    text-shadow: 0px 0px 2px black;
}

.hero {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
}

img {
    width: 500px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 20px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: #45B0D2;
    color: #F9FAF8;
    padding: 5px 15px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}